body {
  margin: 0;
  padding: 0;
}

.app {
  border: 2px solid red;
  width: 100%;
  margin: 0;
}

.header {
  border: 2px solid green;
  padding: 20px;
  border-radius: 5px 5px 5px 5px;
  height: 50px;
  align-items: center;
  display: flex;
}

.meteor-list {
  border: 2px solid green;
  width: 50%;
}

.meteor-card {
  border: solid 2px red;
  text-align: center;
}

.map {
  border: 2px solid yellow;
  width: 50%;
  left: 0;
}

.main {
  display: flex;
}

.list-ul {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  list-style-type: none;
  padding: 10px;
  margin: 0;
}

.list-ul li {
  flex: 1 1 calc(50% - 20px);
  box-sizing: border-box;
}
